@charset 'UTF-8';

@import url('https://fonts.cdnfonts.com/css/commander-edge');

@import url('https://fonts.cdnfonts.com/css/ferghaus-sans');

@import url('https://fonts.cdnfonts.com/css/hot-rod-gang-bv');


@import url('https://fonts.cdnfonts.com/css/highlandgothicflf');
:root {
    --cor1: #320B70;
    --cor2: #320B70;
    --cor3: #5413BD;
    --cor4: #6B18F0;
    --cor5: #9961F2;
    --cor6: #CEA7F5;
    --font1: 'Commander Edge', arial;
    --font2: 'Ferghaus sans';
    --font3: 'Hot Rod Gang BV';
    --font4: 'HighlandGothicFLF', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: var(--font1);
}

body {
    background-color: var(--cor6);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    border-radius: 10px;
    padding: 10px;
    margin: auto;  
    margin-top: -10px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.24);  
}

header h1 {
    text-align: center;
    font-size: 2.3em;
    text-shadow: 2px 2px 8px var(--cor5);
}

header p {
    text-align: center;
    font-family: var(--font2);
    font-size: 1.2em;
    line-height: 1.2em;
    text-shadow: 2px 2px 8px var(--cor5);
}

nav {
    background-color: var(--cor6);
    text-align: center;
    padding: 8px;
    margin: 10px;
    border-radius: 5px;

}

nav a {
    text-decoration: none;
    color: var(--cor1);
    margin: 7px;
    padding: 7px;
}


nav > a:hover {
    text-decoration: underline;
    background-color: var(--cor2);
    color: var(--cor6);
    transition-duration: .5s;
}

main {
    text-indent: 1.5em;
    
    background-color: white;
    max-width: 1000px;
    min-width: none;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.377);
}

main h2 {
    font-family: var(--font4);
    font-size: 1.5em;
    text-align: center;
    color: var(--cor1);
    background-image: linear-gradient(to right, var(--cor5), var(--cor6));
    margin: 10px;

}

main p {
    padding: 5px;
}

article {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;

}

aside {
    text-decoration: underline;
    background-color: var(--cor4);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
    color: white;
    font-family: var(--font3);
    font-size: 1.7em;

}

aside h3 {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor5));
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 0px 5px 0px;
}

aside p {
    font-size: 1.2em;
    color: white;
}

aside ul {
    columns: 2;
    list-style: inside;
}

footer {
    background-color: var(--cor1);
    text-align: center;
    color: var(--cor6);

}